body {
  background-color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  -moz-columns: #222;
       columns: #222;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  max-width: 1300px;
}

.navbar-section {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100vw;
  right: 0;
  z-index: 99999;
}

.navbar {
  height: 72px;
  background-color: white;
}

.navbar-collapse {
  background-color: white;
}

.navbar-light .navbar-nav .nav-item {
  color: #454c55;
}
.navbar-light .navbar-nav .nav-item.active {
  font-weight: 700;
  color: #15191e !important;
}

.navbar-nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
}
.navbar-nav li {
  padding: 8px;
}

.btn-login {
  background-color: #15191e;
  color: white;
  border-radius: 0;
  padding: 10px 14px;
}
.btn-login:hover {
  background-color: #333c46;
}

header {
  margin: 100px 32px 32px 32px;
  padding: 120px 0px 180px;
  background-image: url(../images/headerImage.png);
  background-size: cover;
  height: 95vh;
  border-radius: 24px;
  display: flex;
}
header h1 {
  font-weight: 600;
  color: white;
  font-size: 5em;
}
header p {
  color: white;
  font-size: 1.1em;
  opacity: 80%;
  line-height: 180%;
}
header .btn-explore {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 0;
}
header .btn-explore:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}

.header-search {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 900px;
}

.header-search::-moz-placeholder {
  color: rgb(202, 202, 202);
}

.header-search::placeholder {
  color: rgb(202, 202, 202);
}

.section-partner {
  background-color: #fafafa;
}

.section-partner {
  padding: 30px 0px 30px 0px;
  align-items: center;
}
.section-partner h2 {
  font-weight: 500;
}

.popular-destination-group {
  width: 90vw;
  margin: auto;
}

.section-popular {
  margin-top: 100px;
}
.section-popular .section-popular-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-popular .section-popular-heading h2 {
  font-size: 2.5em;
  line-height: 140%;
  font-weight: 600;
  align-items: center;
}

.section-popular-content .popular-destination .card {
  border: none;
}
.section-popular-content .popular-destination h5 {
  color: #15191e;
  font-weight: 600;
}
.section-popular-content .popular-destination h5 a {
  color: #15191e !important;
  text-decoration: none;
}
.section-popular-content .popular-destination .card-image {
  border-radius: 12px;
  width: auto;
  height: 300px;
  overflow: hidden;
  box-shadow: 2px 34px 70px -46px rgba(22, 42, 92, 0.75);
  -webkit-box-shadow: 2px 34px 70px -46px rgba(22, 42, 92, 0.75);
  -moz-box-shadow: 2px 34px 70px -46px rgba(22, 42, 92, 0.75);
}
.section-popular-content .popular-destination .card-body p {
  color: #757d86;
}
.section-popular-content .popular-destination .card-detail .location {
  font-weight: 500;
}
.section-popular-content .popular-destination .card-detail .price {
  font-weight: 700;
  color: #3e4fec;
}

.mockup-wrapper {
  height: 80vh;
  width: 100vw;
  background-image: url("../images/pattern.svg");
  background-size: cover;
  height: auto;
  background-color: #15191e;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  border-radius: 24px;
}

.travelease-app {
  width: 96vw;
  margin: auto;
  margin-top: 100px;
}
.travelease-app h1 {
  color: white;
  font-size: 3.2em;
  margin-bottom: 32px;
}
.travelease-app p {
  color: white;
  opacity: 50%;
  padding: 0;
  margin-bottom: 40px;
}
.travelease-app .text-app {
  padding-top: 56px;
}
.travelease-app .download-app {
  padding: 16px;
}

footer a {
  color: white;
  opacity: 70%;
}
footer li {
  margin-bottom: 8px;
}
footer .sosmed {
  border-radius: 900px;
  padding: 4px 12px;
  background-color: #2f3741;
  color: white;
  margin-top: 24px;
  margin-right: 8px;
}
footer .sosmed a {
  opacity: 100%;
}

.card-details {
  border: none;
}

.card-checkout {
  border: solid 1px #e6e6e6;
  padding: 24px;
  border-radius: 16px;
}

.section-breadcrumb .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 32px;
}
.section-breadcrumb .breadcrumb .breadcrumb-item.active {
  font-weight: 700;
  color: #15191e;
}

@media (max-width: 500px) {
  .breadcrumb {
    margin-left: 24px;
  }
  .about-us-content {
    width: 90vw;
  }
}
.section-detail-content {
  min-height: 100vh;
}

.carousel {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #15191e;
}

.member .member-image {
  height: 40px;
  width: 40px;
}

@media (max-width: 500px) {
  .member-group img {
    width: 120px;
  }
}
.feature-trip .feature-trip-item img {
  margin-bottom: 16px;
}
.feature-trip .feature-trip-item h6 {
  margin-bottom: 14px;
  font-weight: 600;
}

.description p {
  color: #333c46;
}
.description a {
  color: #15191e;
  font-weight: 700;
}

.card-right {
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: -1px 16px 81px -48px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 16px 81px -48px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 16px 81px -48px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 100px;
  margin-bottom: 100px;
}
.card-right h4 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.card-right table {
  margin-bottom: 20px;
}
.card-right tr {
  height: 32px;
}
.card-right tr th {
  font-weight: 600;
}

.join-container {
  text-align: center;
}
.join-container .btn-join-now {
  width: 100%;
  border-radius: 0;
  color: white;
  background-color: #3e4fec;
  border-radius: 900px;
}
.join-container .btn-join-now:hover {
  background-color: #3343cb;
}

.promo-info {
  margin-top: 16px;
}
.promo-info p {
  margin: 0;
}

.trip-information .gj-datepicker .datepicker {
  border-right: 0;
}
.trip-information .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}
.trip-information .btn-add-now {
  background-color: #3e4fec;
  color: white;
  border-radius: 900px;
}
.trip-information .btn-add-now:hover {
  background-color: #3343cb;
}
.trip-information .notes {
  padding: 10px 16px 16px 16px;
  background-color: #fffcf4;
  border: solid 1px #e4d4af;
  border-radius: 12px;
  color: #866c1e;
}
.trip-information .notes h6 {
  font-size: larger;
  color: #5b4810;
}
.trip-information .text-black {
  font-weight: 700;
}
.trip-information .text-blue {
  font-weight: 700;
  color: #3e4fec;
}

.bank .bank-item h6 {
  font-weight: 700;
}
.bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}
.bank .description {
  margin-left: 20px;
  overflow: hidden;
  float: left;
}

.section-success {
  height: 100vh;
}
.section-success h1 {
  margin-top: 40px;
  font-weight: 700;
  font-size: 32px;
}
.section-success p {
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  color: #757d86;
}
.section-success .btn-home-page {
  border-radius: 900px;
  background-color: #3e4fec;
  color: white;
  padding: 10px 10px;
}
.section-success .btn-home-page:hover {
  background-color: #3343cb;
}

.section-aboutus .header-title {
  padding-top: 80px;
}
.section-aboutus .header-title h1 {
  font-size: 50px;
}

#running-text-container {
  width: 100%;
  overflow: hidden;
}

#running-text {
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.buton-cta {
  padding: 10px 14px;
  background-color: #3e4fec;
  color: white;
  font-size: 16px;
  margin-top: 24px;
}
.buton-cta:hover {
  padding: 10px 14px;
  background-color: #3343cb;
  color: white;
  font-size: 16px;
}
.buton-cta a {
  text-decoration: none;
}

.popup {
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: transparent;
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.image-video {
  width: 90vw;
  overflow: hidden;
  border-radius: 34px;
  margin-top: 80px;
}
.image-video img {
  width: 100%;
}

#videoPlayer {
  width: 100%;
  background-color: transparent;
}

.section1 {
  margin-top: -100px;
}
.section1 h2 {
  font-size: 4.3rem;
}
.section1 h2 span {
  font-family: "Quintessential", cursive;
}
.section1 .about-us-content {
  margin-top: 56px;
  margin: auto;
  width: 50vw;
  text-align: start;
  color: #575d65;
  line-height: 150%;
}
.section1 .about-us-content span {
  font-family: "Quintessential", cursive;
  font-size: 24px;
  margin-bottom: 30px;
  color: #15191e;
}

.section .section-funfact {
  margin: auto;
  background-color: #f7f7f7;
  width: 100vw;
}
.section .section-funfact h2 {
  font-weight: 600;
  font-size: 3rem;
}
.section .section-funfact .card {
  min-height: 200px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 32px 20px;
  margin-bottom: 20px;
  border: none;
}
.section .section-funfact .card h3 {
  font-size: 40px;
}
.section .section-funfact .card p {
  margin-top: 6px;
  font-size: 18px;
  color: #4e535a;
}
.section .section-funfact .card small {
  margin-top: auto;
  color: #4e535a;
}

.team-member {
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.team-member img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.team-member:hover img {
  filter: none;
}

.faq-question {
  background-color: #f1f1f1;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  display: flex;
  min-height: 40px;
  border-radius: 16px;
  align-items: center;
  justify-content: space-between;
}

.faq-question {
  transition: transform 0.3s ease;
  min-height: 48px;
  align-items: center;
  font-weight: 600;
  padding: 16px 20px;
  margin: -10px;
}
.faq-question i {
  height: 14px;
}

.faq-answer {
  padding-left: 16px;
  font-size: 20px;
  margin-bottom: 16px;
  margin-top: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.contact-form {
  padding: 80px;
}
.contact-form .buton-cta {
  margin-top: 0;
  width: 100%;
  padding: 12px;
  border-radius: 900px;
}
.submit-button {
  box-shadow: none;
  border: none;
  border-radius: 900;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.form-group .danger-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form-group .submit-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */